
.swiper-container {
    position: relative;
}
.swiper {
    position: absolute;
    margin: 100px auto;
    width: 300px;
    height: 200px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    &0 {
        transform: rotate(5deg);  
    }
    &1 {
        transform: rotate(10deg);  
    }
    &2 {
        transform: rotate(15deg);  
    }
    .img {
        width: 300px;
        height: 200px;
    }
}